[submodule "variant"]
	path = variant
	url = git@github.com:mapbox/variant.git
[submodule "mapbox-base"]
	path = mapbox-base
	url = git@github.com:mapbox/mapbox-base.git
[submodule "geometry.hpp"]
	path = geometry.hpp
	url = git@github.com:mapbox/geometry.hpp.git
[submodule "icu"]
	path = icu
	url = git@github.com:unicode-org/icu.git
	branch = maint/maint-74
[submodule "lib_nunicode"]
	path = lib_nunicode
	url = git@github.com:nextgis-borsch/lib_nunicode.git
